<div style="text-align:center; background-color:#f9f9f9; padding:20px; border-radius:10px;">

<img src="delitos_caba_banner.jpg" 
     style="width:100%; max-height:250px; object-fit:cover; border-radius:10px;">

<h1 style="margin-top:20px; font-size:32px;">Final Project - Paloma Rieznik</h1>
<h2 style="color:#555; font-weight:normal;">Crime Analysis in Buenos Aires</h2>

<p style="max-width:700px; margin:auto; font-size:16px; color:#333;">
This project explores crime patterns in Buenos Aires, applying data analysis and visualization techniques learned during the <b>Data Analysis with Python</b> course at "Educación IT".
</p>

</div>

**Importing Libraries**  
Load the Python libraries needed for the analysis.

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt

**Loading the Dataset**  
Read the CSV file and create the DataFrame.

In [7]:
dfDelitos = pd.read_csv("delitos2019.csv")

**Dataset Overview**  
Use `info()` to explore the structure and data types in the DataFrame.

In [10]:
dfDelitos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117661 entries, 0 to 117660
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   117661 non-null  int64
 1   fecha                117661 non-null  object
 2   franja_horaria       117661 non-null  object
 3   tipo_delito          117661 non-null  object
 4   subtipo_delito       11676 non-null   object
 5   cantidad_registrada  117661 non-null  float64
 6   comuna               117064 non-null  float64
 7   barrio               117064 non-null  object
 8   lat                  117064 non-null  float64
 9   long                 117064 non-null  float64
dtypes: float64(4), int64(1), object(5)
memory usage: 9.0+ MB

**Total Number of Reported Crimes (2019)**  
Calculate the overall number of crimes reported during the year.

In [17]:
overallCrimes = int(dfDelitos["id"].count())
print(f"Overall Crimes: {overallCrimes}")

Overall Crimes: 117661

**Top 5 Neighborhoods with the Highest Crime Rates**  
Identify the neighborhoods with the largest number of reported crimes.

In [24]:
top5 = dfDelitos.groupby("barrio").size().sort_values(ascending=False).head(5)
print(top5)

top5_df = (dfDelitos.groupby("barrio").size().reset_index(name="cantidad").sort_values("cantidad", ascending=False).head(5)).reset_index(drop=True) 
top5_df

barrio
Palermo        9559
Balvanera      9239
San Nicolás    6246
Recoleta       5589
Flores         5518
dtype: int64

        barrio  cantidad
0      Palermo      9559
1    Balvanera      9239
2  San Nicolás      6246
3     Recoleta      5589
4       Flores      5518

**Top 5 Neighborhoods with the Lowest Crime Rates**  
Identify the neighborhoods with the smallest number of reported crimes.

In [20]:
top5 = dfDelitos.groupby("barrio").size().sort_values(ascending=True).head(5)
print(top5)

barrio
Puerto Madero    283
Villa Real       343
Versalles        392
Agronomía        454
Coghlan          476
dtype: int64

**Crime Frequency by Time of Day**  
Analyze crime by time slot, sorted in descending order from the most to the least problematic.